<?xml version="1.0" encoding="UTF-8"?>
<quartz>
  
  <!-- configure Thread Pool-->

  <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool,Quartz" />

  <add key="quartz.threadPool.threadCount" value="10" />

  <add key="quartz.threadPool.threadPriority" value="Normal" />

  <!-- configure Job Store-->

  <add key="quartz.jobStore.misfireThreshold" value="60000" />

  <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore,Quartz" />

  <!-- configure scheduler-->

  <add key="quartz.scheduler.instanceName" value="ServiceScheduler" />

  <!-- configure jobs and triggersdefinition-->

  <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin,Quartz" />

  <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.xml" />

  <!--重新扫描配置文件的间隔时间(单位：s)-->

  <add key="quartz.plugin.xml.scanInterval" value="2" />
  
  <!-- export this server to remoting context -->
  <add key="quartz.scheduler.exporter.type" value="Quartz.Simpl.RemotingSchedulerExporter, Quartz" />
  <add key="quartz.scheduler.exporter.port" value="6596" />
  <add key="quartz.scheduler.exporter.bindName" value="QuartzScheduler" />
  <add key="quartz.scheduler.exporter.channelType" value="tcp" />
  <add key="quartz.scheduler.exporter.channelName" value="httpQuartz" />
</quartz>