<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="redisconfig" type="KMSD.WebApp.Core.Cache.Redis.RedisConfigInfo,KMSD.WebApp.Core" />
  </configSections>
  
  <redisconfig configSource="XmlConfig\redis.config" />
  <connectionStrings configSource="XmlConfig\database.config" />
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
     <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    
    <!-- Session保存在Redis上的key名称 -->
    <add key="Application.Name" value=""/>
    
    <!-- 短信配置开始 -->

    <add key="MessageUrl" value="http://192.168.121.101:83/MessagePlatform/MessageSend/MessageSendInterface"/>
    <!--短信操作人-->
    <add key="MessageOperate" value="8888888888"/>
    <!--短信操作部门Id 对应CompanyDept中的Id-->
    <add key="MessageDept" value="2"/>
    <!--易创网注册验证码Id,对应MessageType表中的ID-->
    <add key="MessageType" value="B38A0610-4443-4CEB-BD14-A9A38F6C1F97"/>

    <!-- 短信配置结束 -->
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
