<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!--<add name="BaseDb" connectionString="server=192.168.121.103;database=km;uid=kmsd;pwd=kmsd;Enlist=true;Pooling=true;Max Pool Size = 512; Min Pool Size=8; Connection Lifetime =600;Connect Timeout=30;packet size=8192;" providerName="System.Data.SqlClient" />-->
    <add name="BaseDb" connectionString="Server=192.168.121.103;Initial Catalog=km;User ID=kmsd;Password=kmsd" providerName="System.Data.SqlClient" />
    <!--<add name="AccountDb" connectionString="Server=.;Initial Catalog=Learun_account;User ID=sa;Password=sa123456" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
