<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rabbitmq.UserName" value="jesen" />
    <add key="rabbitmq.Password" value="jesen" />
    <add key="rabbitmq.VirtualHost" value="" />
    <add key="rabbitmq.HostName" value="localhost" />
    <!--Uri的格式： amqp://user:pass@hostName:port/vhost  -->
    <add key="rabbitmq.Uri" value="" />
    <add key="rabbitmq.Port" value="5672" />
  </appSettings>
</configuration>