<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rabbitmq.UserName" value="jesen" />
    <add key="rabbitmq.Password" value="jesen" />
    <add key="rabbitmq.VirtualHost" value="" />
    <add key="rabbitmq.HostName" value="localhost" />
    <add key="rabbitmq.Uri" value="amqp://user:pass@hostName:port/vhost" />
  </appSettings>
</configuration>